@font-face{
    font-family: "Marmelad";
    src: url("../fonts/Marmelad-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Fascinate";
    src: url("../fonts/Fascinate-Regular.ttf") format("truetype");
    font-weight: 900;
}
@font-face{
    font-family: "MarkaziText";
    src: url("../fonts/MarkaziText-VariableFont_wght.ttf") format("truetype");
}


h2{
    color: #575757;
    font-family: "Marmelad";
    margin-bottom: 5%;

    font-size: 3vw;
}

p, ul, a{
    font-family: "MarkaziText";
    color: #696969;

    font-size: 2vw;
}

#Education p{
    margin-left: 15%;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/background.jpg");
    background-size: 70%;
}

.canvas{
    background-color: white;

    width: 80%;

    margin: 5% auto 5% auto;

    padding: 4% 6% 0 6%;

    box-shadow: 5px 15px 35px rgb(136, 136, 136);
}

.grid{
    display: grid;
    grid-template-columns: 4fr 5fr;
    column-gap: 3vw;
    margin-bottom: 10%;
    
    /*margin: 78px 89px 32px 74px;*/
}

.grid:nth-child(2){
    margin: 0;
}

.main-photo img{
    width: 95%;
    box-shadow: 10px 10px 0 #D5D8DE;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.about>div{
    margin-bottom: 5%;
}

div .name{
    margin: 0;
    font-size: 8vw;
}

.surname{
    font-size: 6vw;
}

.about p{
    font-family: "Fascinate";
    font-size: 5vw;
    color: #D5D8DE;
}

section{
    height: 250px;
    margin-bottom: 20px;
}

@media (min-width: 1200px){
    section{
        height: 400px;
        margin-bottom: 10px;
    }
}

.block, ul{
    width: fit-content;
    margin-left: 15%;

    margin-bottom: 15%;
}

.element{
    display: flex;
    flex-direction: row;
}

.element img{
    width: 70px;
    height: 70px;
}

@media (max-width: 1200px){ 
    .element img{
        width: 40px;
        height: 40px;
    }
}

.element a{
    align-self: center;
    
    margin-left: 5%;
}

.code{
    padding: 5px;
    background-color: #D5D8DE;
    border-radius: 5px;
    margin-top: 5px;
}

#Skills
.block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.elements__element{
    margin: 0 50px 20px 0;

}

.checked {
    color: #D5D8DE;
  }

  footer{
      padding: 10px;
      text-align: center;

  }

  footer img{
      width: 100px;
  }

@media (max-width: 480px){
    .grid:nth-child(2){
        display: block;
    }
    section{
        height: max-content;
    }
    .block{
        width: 180px;
        margin: auto;
    }
    section .element img{
        width: 20px;
        height: 20px;
    }
    #Education p, #Education ul{
        width: 180px;
        margin: 5px auto; 
        text-align: left;
    }

    #Skills .elements{
        display: block;
        text-align: center;
    }

    .elements__element{
        
        margin: auto;
    }

    span{
        width: fit-content;
    }

    .code-example .block *{
        width: 180px;
        margin: auto;
    }

    main h2{
        font-size: 15px;
        text-align: left;
    }

    p, a, ul li{
        font-size: 16px;
    }

    footer img{
        width: 30px;
    }
}


